*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

body {
  /*Diseño gráfico al contenido que esta dentro del body*/
    padding-top: 0;
    /*El padding-top establece el espacio de relleno requerido en la parte superior del elemento.*/
    color: #5a5a5a;
  }

  #menu {
      background-color: black;
  }

  #menu a{
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: small;
      color: #ffffff;
      padding-right: 5.5em;
      
  }
  #title{
      font-size: 40px !important;
  }
  h6{
      color: chocolate;
      font-weight: bold;
  }
  h1{
      font-family: 'Oswald', sans-serif;
      font-size: 68px;
      font-weight: bold;
      color: rgb(109, 21, 21);
  }

  #main-nav{
      height: 70px;
      background-color: black; 
      
  }

  #nav-img{
      float: left;
      width: 90px;

  }

  #nav-list{
      padding: 15px;
      list-style:none;
      padding-left: 0px;
      text-align: right;
      
  }

  #nav-list li{
      display: inline-block
  }

  #nav-list a{
      font-size: 28px;
      color: white;
      padding: 10px;
      text-decoration: none;
  }



 
  .title-menu h1{
      padding: 30px 160px;
      color: #92000A;
      font-size: 60px;
      font-family: "Mystery Quest";
      text-decoration: solid;
      margin-bottom: 0;
  }

  #descarga-menu{
      
      text-decoration: none;
      font-size: 20px;
      color: black;
  }
  #hacer-pedido{
    
    text-decoration: none;
    font-size: 20px;
    color: black;
}

  #social-media {
      list-style: none;
      padding-left: 0px;
      padding-right: 3px;
      text-align: right;
      margin-left: 90%;
      margin-bottom: 0;
      margin-top: 0;
  }


  #social-media a{
      background-color: orange;
      padding: 10px;
      border-radius: 2px;
  }

  #social-media img{
      
      width: 25px;
      height: 25px;
      
  }


  .menu-img img{
      border-radius: 5px;
  }

  figcaption{
      background-color: blue;
      border-radius: 5px;
      margin-left: 66px;
      width: 300px;
      
  }
  .img-modal{
      width: 400px;
      height: 400px;
  }

  #switch-list{
      padding-top: 50px;
      list-style:none;
      padding-left: 0px;
      text-align: center;
  }

  #switch-list li{
      display: inline-block;
      padding-right: 20px;
  }

  #switch-list a{
      font-size: 19px;
      color: blue;
      padding: 10px;
      text-decoration: none;
  }

  #footer{
      background-color:rgb(43, 7, 7); 
      margin-top: 20px;
      font-size: small;
  }
  #footer img{
      width: 190px;
      height: 150px;
      margin: 40px;
  }#footer a{
      text-decoration: none;
      color: white;
      padding: 0.5em;  
  }
  #footer p{
      color: white;
      margin-top: 50px;
      margin-left: 10px;
  }
  #footer iframe{
      margin: 50px;
  }

  #enlaces{
      margin-top: 50px;
  }

  


  .container text-center{
    border: 100px;
  }

  .col-md-4{
    padding: 20px 0px;
    margin:  0px;
  }
  
 
  .contactenos{
      height: 8rem;
  }

  .formulario {
      color: black;
      padding: 1rem;
      padding-left: 5rem;
      padding-top: 1rem;
  }

  .form-group{
      padding: 0.5rem;
      width: 20rem;
      
  }
  .mensaje {
      height: 10rem;
      
  }
  .form-control {
      background-color: rgb(240, 233, 233);
  }

  .columna {
      padding: 1rem;
      width: 10rem
      
  }

 .row-mapa {
    width: min(90%, 120rem);
    
    position: relative;
    margin-right: 10rem;
    margin-top: 4rem;
 }

  .columna h2{
      
      color: #92000A;
  }

  #cargando {
    display: none;
}
#carrito{
   
}