:root {
    --fuenteHeading: 'Pt Sans', sans-serif;
    --fuenteParrafos: 'Open Sans', sans-serif;

    --primario: #784D3C;
    --blanco: #ffff;
    --negro: #000000;
 
}


html {
    box-sizing: border-box;
    font-size: 62.5%; 
}
*,*:before, *:after{
    box-sizing: inherit;
}

body{
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    line-height: 2;
}

/**Globales**/

.contenedor {
    width: min(90%, 120rem);
    margin: 0 auto;
    position: relative;
  
}

a:hover{
    text-decoration: none ;
    color:var(--primario);
    
}
h1,h2,h3,h4 {
    font-family: var(--fuenteHeading);
    line-height: 1.2;
}
h1{
    font-size: 4.8rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3.2rem;
}
h4{
    font-size: 2.8rem;
}
img{
    max-width: 100%;
}

/**Header**/

.contenedor_header {
    width: min(90%, 120rem);
    margin: 0 auto;
    position: relative;
    bottom: 60rem;

    
}

@media (min-width: 768px) {
    .header__texto{
        margin-top: 15rem;
    }
}

.barra{
    padding-top: 4rem;
}

@media (min-width: 768px) {
    .barra {
        display:flex;
        justify-content: space-between;
        align-items: center;
        
     
    }

}

/* LOGO */

.logo {
    color: var(--blanco);
}
.logo__nombre{
    font-weight: 400;
}
.logo__bold{
    font-weight: 700;
}

/* NAVEGACION */

@media (min-width: 768px) {
    .navegacion{
       display: flex;
        gap: 2rem;
    }
}
.navegacion__enlaces{
    display: block;
    text-align: center;
    font-size: 1.8rem;
    color: var(--blanco);
}



/* CAROUSEL  */

.carousel-inner img{
    height: 70rem;
    width: 100%;
}

.carousel-caption{
    top: 15rem;
}

.carousel-caption img{
    height: 30rem;
    width: 50rem;
}


/* Contenido Principal */

.contenedor_principal{
    height: 100%;
    width: 100%;
    padding-top: 0%;
    background-image: url(../img/foto2.png);
    height: 100rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}



.titulo_principal{
    top: 5rem;
    color: var(--blanco);
    text-align: center;
    padding-top: 10rem;
    
}

.texto_principal{
    margin: 5rem 10rem;
    color: var(--blanco);
}


/* Recomendados*/

.recomendadosgrid h2{
    color: var(--primario);
    font-family: var(--fuenteParrafos);
    padding: 3rem;
    text-align: center;
}


@media (min-width: 768px) {
    .gridPrincipal {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 2rem;
  
    }  
  }


  @media (min-width: 768px) {
    .recomendados {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 2rem;
  
    }  
  }


  .menu {
      display: block;
      align-content: center;
      margin-left: auto;
      margin-right: auto;
  }
  .menu_imagen {
      display: block;
      align-content: center;
      width: 30rem;
      height: 40rem;
  }

  
.boton {
    
    font-family: var(--fuenteHeading);
    color: var(--blanco);
    background-color: var(--primario);
    margin-top: 1rem;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    border: none;
    margin-left: 4.5rem;
    
}

/* SERVICIOS */
.servicios {
    height: 90rem;
    background-image: url(../img/foto3.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.servicios h2, h3, p {
    color: var(--blanco);
    padding: 1rem;
    padding-top: 2rem;
}

.servicios h2 {
   padding: 5rem 5rem;
}

.servicio {
    margin: 1rem;
    height: 20rem;
   
}

.servicio img {
    height: 10rem; 
    width: 10rem;
    margin-left: 5rem;  
}

.servicio svg {
    height: 5rem; 
    width: 10rem;
    margin-left: 6rem;  
}


@media (min-width: 768px) {
    .grid_servicios {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 2rem;
  
    }  
  }


/* TESTIMONIOS */
@media (min-width: 768px) {
    .testimonios {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 2rem;
     
  
    }  
  }

  .testimonios p{
      color: var(--negro);
  }

  .testimonios svg {
      width: 1rem;
      height: 1rem;
  }

  .testimonio img {
    height: 20rem; 
    width: 20rem;
    margin-top: 2rem;
    margin-left: 6rem;

  }

  #footer{
    background-color:rgb(43, 7, 7); 
    margin-top: 20px;
    font-size: small;
}
#footer img{
    width: 190px;
    height: 150px;
    margin: 40px;
}#footer a{
    text-decoration: none;
    color: white;
    padding: 0.5em;  
}
#footer p{
    color: white;
    margin-top: 50px;
    width:90%
}
#footer iframe{
    margin: 50px;
}
#enlaces{
    margin-top: 50px;
}

.row{
    width: 90%;
}


/************ Quienes somos  ****************/

